<!-- Global site tag (gtag.js) - Google Analytics -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-ET8PKFNEH4"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-ET8PKFNEH4");
</script>

<meta name="twitter:card" content="summary" /><meta
  name="twitter:site"
  content="@shhdharmen"
/><meta name="twitter:creator" content="@shhdharmen" /><meta
  property="og:url"
  content="https://shhdharmen.github.io/100-days-of-react-native/"
/><meta
  property="og:title"
  content="100 Days of React Native with White Board"
/><meta
  property="og:description"
  content="This project serves as logs entries for the original react native project called WhiteBoard. I started this project on 10th October, 2019."
/><meta
  property="og:image"
  content="https://repository-images.githubusercontent.com/214155925/d810df80-eb7b-11e9-9f4a-9fa52ee36832"
/>
